<center>
    <ul>
        <%let i = 0%>
        <h1 style="color:red">Codalien</h1>

        <% qrData.forEach((data) => {  %>
        <u> <h3><%=name[i].name%></h3></u>

        <img src="<%= data %>" style="border: 2px solid red"/>

        <br>
        <hr>
        <% i++}) %>

    </ul>


</center>
